/* 首页 卡片文章背景透明 */
#recent-posts>.recent-post-item{
  background: rgba(255,255,255,.5);
}

#recent-posts>.recent-post-item>#catalog_magnet>.magnet_item{
  background: rgba(255,255,255,.5);
}

/* .layout_post>#post {
  background: rgba(255,255,255,.5);
} */

/* 边栏透明 */
#aside-content>.card-widget{
  background: rgba(255,255,255,.5);
}

#aside-content>.sticky_layout>.card-recent-post{
  background: rgba(255,255,255,.5);
}

#aside-content>.sticky_layout>.card-categories{
  background: rgba(255,255,255,.5);
}

#aside-content>.sticky_layout>.card-tags{
  background: rgba(255,255,255,.5);
}

#aside-content>.sticky_layout>.card-archives{
  background: rgba(255,255,255,.5);
}

#aside-content>.sticky_layout>.card-webinfo{
  background: rgba(255,255,255,.5);
}

#aside_content .layout_post>#post{
  background: rgba(255, 255, 255, .3);
}

/* .layout_post>#post {
    background: rgba(255,255,255,.6);
} */

.layout > div:first-child:not(.recent-posts) {
  background: rgba(255,255,255,.5);
}

#page-header.not-top-img #nav {
  background: rgba(255,255, 255, 0); /* 将背景颜色设置为透明 */
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

#page-header.nav-fixed #nav {
  background: rgba(255,255, 255, .5); /* 将背景颜色设置为透明 */
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

#aside-content .card-info #card-info-btn {
  border-radius: 5px;
}

#random-banner{
  width:300px;
  height:100%;
  border-radius: 12px;
  position: relative;
  left: 65px;
}
/* 去除小横条动画 */
#nav *::after{
  background-color: transparent!important;
}


/* 子菜单横向 */
.menus_item_child li:not(#sidebar-menus li){
  float: left;
  border-radius: 6px!important;
  -webkit-border-radius: 6px!important;
  -moz-border-radius: 6px!important;
  -ms-border-radius: 6px!important;
  -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
/*
  left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
改为：*/
left:50%;
translate:-50%;
}

element.style {
  border-radius: 5px;
  background: rgba(255,255, 255, .2);
}

#aside-content .aside-list > .aside-list-item .thumbnail {
  border-radius: 5px;
}

#footer {
  top: 20px;
  background: rgba(255,255, 255, .2);
}

#footer-wrap {
  color: #000; /* 设置 #footer-wrap 元素内部文字颜色为红色 */
}

/* 添加额外的样式，可以为空 */
/* #footer:not(.framework-info) {

} */

.framework-info {
  display: none; /* 隐藏具有 class="framework-info" 的元素 */
}


/* 滚动条 */
::-webkit-scrollbar {
width: 9px;
height: 7px;
}

::-webkit-scrollbar-track {
background-color: rgba(73, 177, 245, 0.2);
border-radius: 2em;
}

::-webkit-scrollbar-thumb {
background-color: #49b1f5;
background-image: -webkit-linear-gradient(
  45deg,
  rgba(255, 255, 255, 0.4) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, 0.4) 50%,
  rgba(255, 255, 255, 0.4) 75%,
  transparent 75%,
  transparent
);
border-radius: 2em;
}

::-webkit-scrollbar-corner {
background-color: transparent;
}

::-moz-selection {
color: #fff;
background-color: #49b1f5;
}


#article-container .flink .flink-list {
  text-align: left!important;
}
.flink-item-name, .flink-item-desc {
  color: white!important;
}