div(class="top" id="top" style="width:1470px")
    a(id="random2" class="recent-post-item" style="width:100%;height:auto;padding:10px;" href="javascript:toRandomPost()")         
        div 随便逛逛✈
    .cards
        include random.pug
        .swiper-div#swiper-div
    